.bgVectorIcon {
  height: 1143.5px;
  width: 1994.3px;
  position: absolute;
  margin: 0 !important;
  top: -170.3px;
  left: -369.3px;
}
.frameChild,
.mainAreaChild {
  height: 994px;
  width: 1544px;
  position: relative;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: var(--color-whitesmoke);
  display: none;
  max-width: 100%;
}
 .frameChild {
  width: 1136px;
  height: 858px;
  border-radius: var(--br-3xs);
  background-color: var(--light-mode-white-50);
  box-shadow: 0 0 30px rgba(170, 170, 170, 0.16),
    0 10px 20px rgba(194, 194, 194, 0.16);
} 
.accountSetting {
  position: relative;
  white-space: pre-wrap;
  z-index: 1;
}
.dataWriter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
}
.loopIterator {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid #ffc196;
  box-sizing: border-box;
  z-index: 1;
}
.errorProcessor {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xl);
  gap: var(--gap-4xs);
}
.yourProfilePicture {
  position: relative;
  font-weight: 500;
  white-space: pre-wrap;
  z-index: 1;
}
.wrapperGroup3Child {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.2);
}
.wrapperGroup3 {
  height: 100px;
  width: 100px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.statementExecutor,
.subroutineRunner {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.subroutineRunner {
  flex-direction: row;
  padding: 0 var(--padding-11xl) 0 var(--padding-2xl);
}
.statementExecutor {
  flex-direction: column;
  gap: var(--gap-mid);
  font-size: var(--bold-16-24-size);
  color: var(--color-dimgray-400);
}
.uploadNewPhoto {
  flex: 1;
  position: relative;
  text-decoration: underline;
  line-height: 25px;
  font-weight: 500;
  z-index: 1;
}
.errorLogger,
.inputValidator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.errorLogger {
  width: 142px;
  flex-direction: row;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: #919191;
}
.inputValidator {
  height: 250px;
  width: 188px;
  flex-direction: column;
  gap: var(--gap-smi);
  min-width: 188px;
}
.loginSecurity {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.loopInitializer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
}
.outputProcessor {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  z-index: 1;
}
.statementOrganizer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  min-width: 117px;
}
.notifications {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 122px;
  z-index: 1;
}
.notificationsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
}
.statementOrganizerChild {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  z-index: 1;
}
.statementOrganizer1 {
  width: 146px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.interface {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 87px;
  z-index: 1;
}
.interfaceWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
}
.statementOrganizerItem {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  z-index: 1;
}
.statementOrganizer2 {
  width: 111px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.dataSorter,
.functionTerminator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.functionTerminator {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.dataSorter {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.frameItem {
  width: 175px;
  height: 149px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-coral-100);
  display: none;
}
.errorPropagatorChild {
  height: 48px;
  width: 54px;
  position: relative;
  z-index: 1;
}
.loopIncrementer {
  height: 39px;
  position: relative;
  line-height: 112.4%;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  min-width: 63px;
  z-index: 1;
}
.dataContainer,
.errorPropagator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dataContainer {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.errorPropagator {
  flex-direction: row;
  gap: var(--gap-4xl);
}
.readings {
  margin: 0;
  height: 39px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 112.4%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.inputFilterChain,
.rectangleGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputFilterChain {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-7xs);
  font-size: var(--font-size-6xl);
}
.rectangleGroup {
  width: 175px;
  border-radius: var(--br-3xs);
  background-color: var(--color-coral-100);
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-xs) var(--padding-mini)
    var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-7xl);
  min-width: 175px;
  z-index: 1;
}
.frameInner,
.rectangleDiv {
  width: 197px;
  height: 149px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue);
  display: none;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-mode-white-50);
  width: 100%;
  height: 100%;
}
.giveGiftIcon {
  position: absolute;
  top: 13px;
  left: 16px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  z-index: 1;
}
.div,
.groupButton {
  position: relative;
  z-index: 1;
}
.groupButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--light-mode-white-50);
  height: 48px;
  width: 54px;
  border-radius: var(--br-3xs);
}
.div {
  align-self: stretch;
  height: 39px;
  line-height: 112.4%;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.errorCollector,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.errorCollector {
  width: 140px;
  flex-direction: row;
  gap: var(--gap-4xl);
}
.contribution {
  margin: 0;
  height: 39px;
  position: relative;
  font-size: inherit;
  line-height: 112.4%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.inputProcessor,
.rectangleContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputProcessor {
  flex-direction: row;
  padding: 0 var(--padding-6xs) 0 var(--padding-7xs);
  font-size: var(--font-size-6xl);
}
.rectangleContainer {
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue);
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-7xl);
  min-width: 197px;
  z-index: 1;
}
.conditionalGuard,
.valueSplitter {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.valueSplitter {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--font-size-13xl);
  color: var(--light-mode-white-50);
}
.conditionalGuard {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-32xl);
  min-width: 304px;
  color: var(--color-slategray);
}
.dataReader,
.functionRunner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.functionRunner {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.dataReader {
  width: 667px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-18xl);
  box-sizing: border-box;
}
.editDashboardIcon {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.417);
}
.wrapperEditDashboard {
  height: 48px;
  width: 48px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.functionBuilder {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  color: var(--color-tomato-200);
}
.collegeEmailId {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 124px;
  z-index: 1;
}
.controlFlow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.iterativeStructureChild {
  height: 52px;
  width: 542px;
  position: relative;
  border-radius: var(--br-5xs);
  background: linear-gradient(#fafbfc, #fafbfc), #fff;
  border: 1px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.kensoncsofficialcollegecom {
  width: 209px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--bold-16-24);
  font-size: var(--body-large-size);
  background-color: transparent;
  height: 16px;
  position: relative;
  line-height: 112.4%;
  color: var(--color-lightslategray-100);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  z-index: 2;
}
.iterativeStructure {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background: linear-gradient(#fafbfc, #fafbfc), #fff;
  border: 1px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-mini);
  z-index: 1;
}
.iterativeStructure,
.nestedLoop,
.nestedLoopWrapper,
.valueTransformer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.valueTransformer {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xs);
  min-width: 353px;
}
.nestedLoop,
.nestedLoopWrapper {
  flex-direction: row;
}
.nestedLoop {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-12xs);
}
.nestedLoopWrapper {
  align-self: stretch;
  padding: 0 var(--padding-12xs) var(--padding-8xs);
  box-sizing: border-box;
}
.phoneNumber {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 112px;
  z-index: 1;
}
.messageHandler {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.priorityQueueChild {
  height: 52px;
  width: 542px;
  position: relative;
  border-radius: var(--br-5xs);
  background: linear-gradient(#fafbfc, #fafbfc), #fff;
  border: 1px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.tree {
  position: relative;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 23px;
  white-space: nowrap;
  z-index: 2;
}
.heap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.graph {
  height: 31px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  z-index: 2;
}
.stack {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.matrix,
.priorityQueue {
  box-sizing: border-box;
  font-size: var(--body-large-size);
  color: var(--color-lightslategray-100);
}
.matrix {
  width: 89px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  font-family: var(--bold-16-24);
  font-weight: 500;
}
.priorityQueue {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background: linear-gradient(#fafbfc, #fafbfc), #fff;
  border: 1px solid var(--color-gainsboro-500);
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-mini);
  gap: var(--gap-2xs);
  z-index: 1;
  font-family: var(--font-manrope);
}
.eventDispatcher,
.instanceParent,
.priorityQueue {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.eventDispatcher {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xs);
  min-width: 353px;
}
.instanceParent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-12xs);
}
.bio {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 25px;
  z-index: 1;
}
.container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.listChild {
  height: 158px;
  width: 1087px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.imAStudent {
  position: relative;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 88px;
  z-index: 2;
}
.containerParent,
.list {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.list {
  height: 158px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-gainsboro-500);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-lg) var(--padding-mini);
  z-index: 1;
  font-size: var(--body-large-size);
  color: var(--color-lightslategray-100);
}
.containerParent {
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 var(--padding-mini);
  gap: var(--gap-2xs);
}
.buttonChild {
  height: 49px;
  width: 201px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-tomato-200);
  display: none;
}
.updateProfile {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--bold-16-24);
  color: var(--light-mode-white-50);
  text-align: left;
  min-width: 126px;
  z-index: 1;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-16xl) var(--padding-mini)
    var(--padding-21xl);
  background-color: var(--color-tomato-200);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.button:hover {
  background-color: #db4f21;
}
.reset {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 49px;
  z-index: 1;
}
.resetWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.map {
  flex-direction: row;
  gap: var(--gap-15xl);
}
.dictionary,
.mainArea,
.map,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dictionary {
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  font-size: var(--font-size-lg);
}
.mainArea,
.rectangleParent {
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  max-width: fit-content;
  z-index: 1;
  padding-left: 50%;
}
  .rectangleParent {  
    /* dh ely fih el information// */ 
  width: 1136px;
  background-color:transparent;
  flex-direction: column;
  padding: var(--padding-29xl) var(--padding-5xl) var(--padding-5xl);
  gap: var(--gap-lgi);
  
} 
 .mainArea {
  width: 1511px;
  border-radius: var(--br-xl);
  background-color: var(--light-mode-white-50);
  box-shadow: var(--light-version-shadow-1);
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-11xl) 318px var(--padding-11xl) var(--padding-11xl);
  gap: 74px;
  max-width: 100%;
  z-index: 5;
  font-size: var(--bold-16-24-size);
  color: var(--light-version-type-dark);
  font-family: var(--titles-large);
}  
.shelf,
.smart {
  margin: 0 !important;
  height: 145.7px;
  position: absolute;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 3;
}
.shelf {
  width: 736px;
  top: -10px;
  left: -530px;
  background: linear-gradient(91.24deg, #ee7a3a, #ea357d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.smart {
  width: 701px;
  top: 43px;
  left: -511px;
  letter-spacing: 0.22em;
  color: var(--color-dimgray);
} 
 .account,
.bgVectorParent {
  position: relative;
  display: flex;
  justify-content: flex-start;
} 
.bgVectorParent {
  width: 1544px;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
} 
.account {
  width: 100%;
  background-color: var(--light-mode-white-50); 
  flex-direction: column;
  align-items: flex-end;
  padding: 104px var(--padding-29xl) var(--padding-29xl);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-dimgray-400);
  font-family: var(--font-abel);
} 
@media screen and (max-width: 1300px) {
   .account,
  .mainArea {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  } 
  .account {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
  } 
}
@media screen and (max-width: 1125px) {
  .functionBuilder {
    flex-wrap: wrap;
  }
  .rectangleParent {
    padding-top: var(--padding-12xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .mainArea {
    padding-top: 75px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .inputValidator {
    flex: 1;
  }
  .functionTerminator {
    flex: 1;
    flex-wrap: wrap;
  }
  .loopIncrementer {
    font-size: var(--font-size-7xl);
    line-height: 29px;
  }
  .rectangleGroup {
    flex: 1;
  }
  .div {
    font-size: var(--font-size-7xl);
    line-height: 29px;
  }
  .rectangleContainer {
    flex: 1;
  }
  .valueSplitter {
    flex-wrap: wrap;
  }
  .conditionalGuard {
    gap: var(--gap-6xl);
  }
  .functionRunner {
    flex-wrap: wrap;
  }
  .eventDispatcher,
  .valueTransformer {
    min-width: 100%;
  }
  .mainArea {
    padding-top: 49px;
    box-sizing: border-box;
  }
  .shelf,
  .smart {
    font-size: var(--font-size-19xl);
  }
}
@media screen and (max-width: 450px) {
  .accountSetting,
  .interface,
  .loginSecurity,
  .notifications {
    font-size: var(--bold-16-24-size);
  }
  .loopIncrementer,
  .readings {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  }
  .readings {
    font-size: var(--font-size-xl);
  }
  .contribution,
  .div {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  }
  .contribution {
    font-size: var(--font-size-xl);
  }
  .valueSplitter {
    gap: var(--gap-base);
  }
  .map {
    flex-wrap: wrap;
    gap: var(--gap-mid);
  }
  .rectangleParent {
    padding-top: var(--padding-xl);
    box-sizing: border-box;
  }
  .shelf,
  .smart {
    font-size: var(--font-size-10xl);
  }
}
