.christinHumeHcfwew744z4Unsp,
.wrapperVector1Child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1944px;
  height: 1077px;
}
.wrapperVector1Child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1.368);
}
.wrapperVector1 {
  position: absolute;
  top: -2px;
  left: 0;
  width: 1917px;
  height: 1086px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginChild {
  position: absolute;
  top: -70.5px;
  left: -37.3px;
  width: 2090.1px;
  height: 1147.6px;
  object-fit: contain;
}
.groupChild,
.login,
.loginInner {
  position: absolute;
  width: 565px;
  height: 917px;
}
.groupChild {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--light-mode-white-50);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.login,
.loginInner {
  top: 82px;
  left: 678px;
}
.login {
  top: -28px;
  left: 10px;
  background-color: var(--color-whitesmoke);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
.resetPassword1,
.resetPassword3 {
  background-color: var(--light-mode-white-50);
  height: 1024px;
  overflow: hidden;
}
.resetPassword1 {
  position: absolute;
  top: 0;
  left: 0px;
    width: 2500px;
}
.resetPassword3 {
  width: 100%;
  position: relative;
}
