.christinHumeHcfwew744z4Unsp {
  height: 1077px;
  width: 1944px;
  position: relative;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.wrapperVector1Child {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.368);
}
.frameChild,
.wrapperVector1 {
  position: absolute;
  margin: 0 !important;
}
.wrapperVector1 {
  height: 100%;
  width: 100%;
  bottom: -4px;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frameChild {
  height: 1147.6px;
  width: 2090.1px;
  top: -152.5px;
  right: -809.8px;
  object-fit: contain;
  z-index: 2;
}
.frameItem {
  height: 917px;
  width: 565px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--light-mode-white-50);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  display: none;
}
.verifyAndSetNewPasswordChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
}
.confirmYourEmailChild,
.verifyAndSetNewPassword {
  width: 375px;
  height: 804px;
  position: relative;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.confirmYourEmailChild {
  border-radius: var(--br-21xl);
  background-color: var(--light-mode-white-50);
  z-index: 1;
}
.batteryIcon,
.cellularConnectionIcon,
.rectangleIcon,
.wifiIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.batteryIcon,
.cellularConnectionIcon,
.wifiIcon {
  height: 25.68%;
  width: 6.48%;
  top: 39.32%;
  right: 3.92%;
  bottom: 35%;
  left: 89.6%;
}
.cellularConnectionIcon,
.wifiIcon {
  height: 25%;
  width: 4.08%;
  right: 11.73%;
  bottom: 35.68%;
  left: 84.19%;
}
.cellularConnectionIcon {
  height: 24.32%;
  width: 4.53%;
  top: 40.23%;
  right: 17.15%;
  bottom: 35.45%;
  left: 78.32%;
}
.div,
.timeStyle {
  position: absolute;
}
.div {
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.timeStyle {
  height: 47.73%;
  width: 7.2%;
  top: 37.5%;
  right: 83.17%;
  bottom: 14.77%;
  left: 9.63%;
}
.rectangleGroup {
  width: 375px;
  height: 44px;
  position: relative;
  display: none;
  max-width: 100%;
  z-index: 2;
  color: var(--light-mode-white-50);
}
.confirmYourEmail1,
.confirmYourEmailItem {
  margin: 0 !important;
  position: absolute;
  z-index: 2;
}
.confirmYourEmailItem {
  width: 60px;
  height: 6px;
  top: 81px;
  right: 156px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
}
.confirmYourEmail1 {
  width: 239px;
  right: 50px;
  bottom: -22px;
  font-size: inherit;
  letter-spacing: 0.01em;
  line-height: 34px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.enterOtpPana2 {
  height: 327px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 3;
}
.confirmYourEmailParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.weveSent5 {
  margin: 0;
}
.hellotylercom {
  color: var(--color-coral);
}
.toHellotylercom {
  margin: 0;
}
.weveSent5Container {
  height: 48px;
  width: 257px;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 24px;
  display: inline-block;
  z-index: 2;
}
.weveSent5DigitsVerificatiWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-18xl);
  font-size: var(--body-large-size);
  color: var(--light-mode-grey-500);
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.enterVerificationCode {
  position: relative;
  font-size: var(--bold-16-24-size);
  letter-spacing: 0.01em;
  line-height: 26px;
  font-weight: 500;
  z-index: 2;
}
.background {
  height: 56px;
  width: 327px;
  position: relative;
  border-radius: var(--br-mini);
  box-shadow: 0 15px 30px rgba(77, 46, 132, 0.2);
  border: 1px solid var(--color-red);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.smsEditIcon {
  width: 17.9px;
  height: 15.9px;
  position: relative;
  z-index: 3;
}
.smsEditWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4.3px 0 0;
}
.div1 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 24px;
  display: inline-block;
  min-width: 44px;
  z-index: 3;
}
.frameContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.1px;
}
.info {
  width: 102px;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 24px;
  color: var(--light-mode-grey-500);
  text-align: right;
  display: inline-block;
  min-width: 102px;
  z-index: 3;
}
.background1,
.backgroundParent {
  border-radius: var(--br-mini);
  max-width: 100%;
}
.backgroundParent {
  align-self: stretch;
  box-shadow: 0 15px 30px rgba(77, 46, 132, 0.2);
  border: 1px solid var(--color-red);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-smi) 15.5px var(--padding-mini);
  gap: var(--gap-xl);
  z-index: 2;
}
.background1 {
  height: 56px;
  width: 327px;
  position: relative;
  background-color: var(--color-coral);
  display: none;
}
.verifyAndSet {
  width: 210px;
  position: relative;
  font-size: var(--body-large-size);
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 600;
  font-family: var(--body-large);
  color: var(--light-mode-white-50);
  text-align: center;
  display: inline-block;
  z-index: 3;
}
.backgroundGroup,
.frameGroup {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.backgroundGroup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-37xl) var(--padding-mid)
    var(--padding-42xl);
  background-color: var(--color-coral);
  border-radius: var(--br-mini);
  flex-direction: row;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 2;
}
.backgroundGroup:hover {
  background-color: var(--color-chocolate);
}
.frameGroup {
  flex-direction: column;
  gap: var(--gap-3xl);
}
.needHelp {
  width: 216px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 2;
}
.enterVerificationCodeParent,
.needHelpFaqTermsOfUseWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.needHelpFaqTermsOfUseWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-34xl) 0 58px;
  text-align: center;
  color: var(--color-gray-100);
}
.enterVerificationCodeParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  max-width: 100%;
}
.confirmYourEmailInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs) 0 var(--padding-4xs);
  box-sizing: border-box;
  max-width: 100%;
}
.confirmYourEmail {
  width: 375px;
  border-radius: var(--br-21xl);
  background-color: var(--light-mode-white-50);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 107px var(--padding-lgi) var(--padding-5xl) var(--padding-mini);
  box-sizing: border-box;
  position: relative;
  gap: 58px;
  z-index: 1;
}
.rectangleParent,
.vectorParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.rectangleParent {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--light-mode-white-50);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  overflow-x: auto;
  justify-content: center;
  padding: var(--padding-37xl) var(--padding-xl) var(--padding-38xl);
  box-sizing: border-box;
  z-index: 3;
}
.vectorParent {
  width: 565px;
  justify-content: flex-start;
  position: relative;
}
.login,
.resetPassword1,
.resetPassword2 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.login {
  margin-top: -28px;
  margin-left: -108px;
  width: 1920px;
  background-color: var(--color-whitesmoke);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-63xl) var(--padding-xl) var(--padding-62xl)
    var(--padding-2xl);
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
  text-align: left;
  font-size: var(--body-large-size);
  color: var(--light-mode-black-500);
  font-family: var(--body-large);
}
.resetPassword1,
.resetPassword2 {
  background-color: var(--light-mode-white-50);
  justify-content: flex-start;
}
.resetPassword1 {
  padding-left: 140px;
  height: 1024px;
  width: 1704px;
  flex-shrink: 0;
  flex-direction: column;
  debug_commit: 1de1738;
}
.resetPassword2 {
  width: 100%;
  position: relative;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 925px) {
  .confirmYourEmail {
    padding-top: var(--padding-51xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .login,
  .rectangleParent {
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-18xl);
    box-sizing: border-box;
  }
  .login {
    padding-top: var(--padding-34xl);
    padding-bottom: var(--padding-34xl);
  }
}
@media screen and (max-width: 450px) {
  .confirmYourEmail1 {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .backgroundParent {
    flex-wrap: wrap;
  }
  .confirmYourEmail {
    padding-top: var(--padding-26xl);
    box-sizing: border-box;
  }
  .login,
  .rectangleParent {
    padding-top: var(--padding-4xl);
    padding-bottom: var(--padding-5xl);
    box-sizing: border-box;
  }
  .login {
    padding-top: var(--padding-15xl);
    padding-bottom: var(--padding-15xl);
  }
  .resetPassword1 {
    height: auto;
  }
}
