.loginIcon {
  height: 1080px;
  width: 1920px;
  position: absolute;
  margin: 0 !important;
  bottom: -140px;
  left: -784px;
  overflow: hidden;
  flex-shrink: 0;
}
.batteryIcon,
.cellularConnectionIcon,
.rectangleIcon,
.wifiIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.batteryIcon,
.cellularConnectionIcon,
.wifiIcon {
  height: 25.68%;
  width: 6.48%;
  top: 39.32%;
  right: 3.92%;
  bottom: 35%;
  left: 89.6%;
}
.cellularConnectionIcon,
.wifiIcon {
  height: 25%;
  width: 4.08%;
  right: 11.73%;
  bottom: 35.68%;
  left: 84.19%;
}
.cellularConnectionIcon {
  height: 24.32%;
  width: 4.53%;
  top: 40.23%;
  right: 17.15%;
  bottom: 35.45%;
  left: 78.32%;
}
.div,
.timeStyle {
  position: absolute;
}
.div {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.timeStyle {
  height: 47.73%;
  width: 6.67%;
  top: 37.5%;
  right: 83.71%;
  bottom: 14.77%;
  left: 9.63%;
}
.rectangleParent {
  height: 44px;
  width: 375px;
  position: relative;
  display: none;
  max-width: 100%;
}
.loginParent,
.resetPassword1,
.resetYourPassword {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.resetYourPassword {
  align-self: stretch;
  flex: 1;
  justify-content: flex-start;
  max-width: 100%;
  z-index: 1;
}
.loginParent,
.resetPassword1 {
  position: relative;
}
.loginParent {
  height: 804px;
  width: 375px;
  justify-content: flex-start;
  max-width: 100%;
}
.resetPassword1 {
  width: 100%;
  height: 1024px;
  background-color: var(--light-mode-white-50);
  overflow: hidden;
  justify-content: center;
  padding: 108px var(--padding-xl) 112px 43px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--body-large-size);
  color: var(--light-mode-white-50);
  font-family: var(--body-large);
}
@media screen and (max-width: 450px) {
  .resetPassword1 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
