.background,
.enterNewPasswordChild,
.enterNewPasswordItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-black);
  width: 375px;
  height: 804px;
}
.background,
.enterNewPasswordItem {
  background-color: var(--light-mode-white-50);
}
.background {
  height: 6.97%;
  width: 87.2%;
  top: 85.32%;
  right: 6.4%;
  bottom: 7.71%;
  left: 6.4%;
  border-radius: var(--br-mini);
  background-color: var(--color-coral);
}
.batteryIcon,
.cellularConnectionIcon,
.rectangleIcon,
.wifiIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.batteryIcon,
.cellularConnectionIcon,
.wifiIcon {
  height: 25.69%;
  width: 6.48%;
  top: 39.49%;
  right: 3.92%;
  bottom: 34.82%;
  left: 89.6%;
}
.cellularConnectionIcon,
.wifiIcon {
  height: 24.84%;
  width: 4.08%;
  right: 11.73%;
  bottom: 35.67%;
  left: 84.19%;
}
.cellularConnectionIcon {
  height: 24.2%;
  width: 4.53%;
  top: 40.13%;
  right: 17.15%;
  left: 78.32%;
}
.div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.rectangleParent,
.timeStyle {
  position: absolute;
  height: 47.77%;
  width: 7.2%;
  top: 37.58%;
  right: 83.17%;
  bottom: 14.65%;
  left: 9.63%;
}
.rectangleParent {
  height: 5.47%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 94.53%;
  left: 0;
  display: none;
  color: var(--light-mode-white-50);
}
.setNewPassword {
  top: 702px;
  left: 122px;
  line-height: 24px;
  font-weight: 600;
  color: var(--light-mode-white-50);
}
.enterNewPassword1,
.setComplexPasswords,
.setNewPassword {
  position: absolute;
  letter-spacing: 0.01em;
  text-align: center;
}
.enterNewPassword1 {
  top: 397px;
  left: 66px;
  font-size: var(--font-size-5xl);
  line-height: 34px;
  font-weight: 600;
  color: var(--light-mode-black-500);
}
.setComplexPasswords {
  top: 435px;
  left: 67px;
  line-height: 24px;
}
.enterNewPasswordInner {
  position: absolute;
  top: 81px;
  left: 159px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  width: 60px;
  height: 6px;
}
.needHelp {
  position: absolute;
  top: 759px;
  left: 87px;
  font-weight: 600;
  color: var(--color-gray-100);
  text-align: center;
}
.enterNewPasswordChild1,
.groupIcon,
.myPasswordPana1 {
  position: absolute;
  top: 102px;
  left: 66px;
  width: 257px;
  height: 271px;
  object-fit: contain;
}
.enterNewPasswordChild1,
.groupIcon {
  height: 6.21%;
  width: 84%;
  top: 62.25%;
  right: 8%;
  bottom: 31.53%;
  left: 8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.enterNewPasswordChild1 {
  top: 75.38%;
  bottom: 18.41%;
}
.password,
.reTypePassword {
  position: absolute;
  top: 494px;
  left: 35px;
  font-weight: 500;
  color: var(--color-black);
}
.reTypePassword {
  top: 613px;
  left: 32px;
}
.enterYourPassword,
.enterYourPassword1 {
  position: absolute;
  height: 2.98%;
  width: 38.67%;
  top: 64.58%;
  left: 23.2%;
  letter-spacing: 0.01em;
  line-height: 24px;
  display: inline-block;
}
.enterYourPassword1 {
  top: 76.86%;
  left: 21.07%;
}
.vuesaxoutlineeyeSlashIcon,
.vuesaxoutlineeyeSlashIcon1 {
  position: absolute;
  height: 2.49%;
  width: 5.33%;
  top: 77.12%;
  right: 11.73%;
  bottom: 20.39%;
  left: 82.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vuesaxoutlineeyeSlashIcon1 {
  top: 64.58%;
  right: 12%;
  bottom: 32.94%;
  left: 82.67%;
}
.enterNewPassword {
  position: absolute;
  top: 138px;
  left: 772px;
  width: 375px;
  height: 861px;
  text-align: left;
  font-size: var(--body-large-size);
  color: var(--light-mode-grey-500);
  font-family: var(--body-large);
}
