.frameChild {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.donNorman1988,
.theDesignOf {
  position: relative;
  line-height: 128.52%;
}
.donNorman1988 {
  width: 101px;
  font-size: var(--font-size-3xs);
  line-height: 14px;
  display: inline-block;
}
.theDesignOfEveryParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.span {
  color: var(--color-darkgray-100);
}
.div {
  width: 101px;
  height: 11px;
  position: relative;
  font-size: var(--font-size-3xs);
  line-height: 128.52%;
  display: inline-block;
  flex-shrink: 0;
}
.frameParent,
.rectangleParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.rectangleParent {
  align-self: stretch;
  width: 160px;
  border-radius: var(--br-3xs);
  background-color: var(--light-mode-white-50);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-xs-2);
  text-align: left;
  font-size: var(--body-small-size);
  color: var(--color-dimgray);
  font-family: var(--bold-16-24);
}
