.quickSearchBarChild {
  align-self: stretch;
  width: 541px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--light-mode-white-50);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  display: none;
  max-width: 100%;
}
.frameChild {
  height: 49px;
  width: 102px;
  position: relative;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  background-color: var(--color-whitesmoke-100);
  display: none;
}
.all,
.frameItem {
  position: relative;
  z-index: 1;
}
.all {
  line-height: 128.52%;
  display: inline-block;
  min-width: 27px;
}
.frameItem {
  width: 17px;
  height: 9px;
  border-radius: var(--br-12xs);
  object-fit: contain;
}
.polygonWrapper,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.polygonWrapper {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  width: 17px;
  height: 17px;
}
.rectangleParent {
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  background-color: var(--color-whitesmoke-100);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-2xs) var(--padding-smi)
    var(--padding-18xl);
  gap: var(--gap-3xs);
  z-index: 1;
}
.search {
  align-self: stretch;
  position: relative;
  line-height: 128.52%;
  z-index: 1;
}
.frameGroup,
.searchWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.searchWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
  color: var(--color-silver);
}
.frameGroup {
  width: 352px;
  flex-direction: row;
  gap: var(--gap-2xl);
  max-width: 100%;
}
.searchIcon {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.searchContainer {
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.frameInner {
  height: 34px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  z-index: 1;
}
.barcodeScannerIcon {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.barcodeScannerWrapper {
  width: 20px;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.barcodeScannerWrapper,
.frameContainer,
.quickSearchBar,
.quickSearchBarInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  height: 33px;
  flex-direction: row;
  gap: var(--gap-3xs-5);
}
.quickSearchBar,
.quickSearchBarInner {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.quickSearchBar {
  flex: 1;
  border-radius: var(--br-21xl);
  background-color: var(--light-mode-white-50);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-mid) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 3;
}
.langChild,
.translateIcon {
  position: relative;
  z-index: 1;
}
.langChild {
  height: 47px;
  width: 170px;
  border-radius: var(--br-11xl);
  background-color: var(--light-mode-white-50);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  display: none;
}
.translateIcon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.translateWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-6xs) 0 0;
}
.lang1 {
  margin-left: -5px;
  width: 91px;
  height: 22.1px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 128.52%;
  font-family: var(--bold-16-24);
  color: var(--color-dimgray);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.langWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin-left: -7px;
}
.polygonIcon {
  width: 17px;
  height: 9px;
  position: relative;
  border-radius: var(--br-12xs);
  object-fit: contain;
  z-index: 1;
}
.langInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  margin-left: -7px;
}
.lang,
.rectangleDiv {
  background-color: var(--light-mode-white-50);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.lang {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-6xl) var(--padding-smi-9);
  width: 170px;
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 3;
}
.rectangleDiv {
  height: 46px;
  width: 455px;
  position: relative;
  border-radius: var(--br-21xl);
  display: none;
  max-width: 100%;
}
.hrs,
.timeIcon {
  position: relative;
  z-index: 1;
}
.timeIcon {
  height: 19px;
  width: 19px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 19px;
}
.hrs {
  flex: 1;
  letter-spacing: -0.04em;
  line-height: 128.52%;
  white-space: nowrap;
}
.timeParent {
  width: 133px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.mar2023,
.vectorIcon {
  position: relative;
  z-index: 1;
}
.vectorIcon {
  height: 19px;
  width: 19px;
  min-height: 19px;
}
.mar2023 {
  flex: 1;
  letter-spacing: -0.04em;
  line-height: 128.52%;
}
.vectorParent {
  width: 149px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frameWrapper,
.rectangleGroup {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleGroup {
  align-self: stretch;
  border-radius: var(--br-21xl);
  background-color: var(--light-mode-white-50);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-33xl) var(--padding-smi)
    var(--padding-38xl);
  gap: var(--gap-xl);
  z-index: 3;
}
.frameWrapper {
  width: 455px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  text-align: center;
  font-size: var(--font-size-mini);
  font-family: var(--font-abril-fatface);
}
.profileAccountChild {
  height: 50px;
  width: 203px;
  position: relative;
  border-radius: var(--br-14xl);
  background-color: var(--light-mode-white-50);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  display: none;
}
.ellipseIcon {
  width: 45px;
  height: 45px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.profileAccountInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 0;
}
.kenson {
  align-self: stretch;
  position: relative;
  line-height: 27px;
  z-index: 1;
}
.kensonWrapper {
  width: 91px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.frameChild1 {
  width: 17px;
  height: 9px;
  position: relative;
  border-radius: var(--br-12xs);
  object-fit: contain;
  z-index: 1;
}
.frameDiv,
.profileAccount,
.quickSearchBarParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv {
  flex-direction: column;
  padding: var(--padding-lg) 0 0;
}
.profileAccount,
.quickSearchBarParent {
  flex-direction: row;
}
.profileAccount {
  width: 203px;
  border-radius: var(--br-14xl);
  background-color: var(--light-mode-white-50);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  padding: var(--padding-10xs) var(--padding-10xs) var(--padding-11xs);
  box-sizing: border-box;
  z-index: 3;
}
.quickSearchBarParent {
  width: 1453px;
  gap: var(--gap-9xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
}
.frameChild2 {
  height: 47px;
  width: 170px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--light-mode-white-50);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  display: none;
}
.browse,
.frameChild3 {
  position: relative;
  z-index: 1;
}
.browse {
  flex: 1;
  line-height: 26px;
}
.frameChild3 {
  width: 17px;
  height: 9px;
  border-radius: var(--br-12xs);
  object-fit: contain;
}
.polygonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  width: 17px;
  height: 17px;
}
.frameParent,
.frameWrapper1,
.rectangleContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleContainer {
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--light-mode-white-50);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  padding: var(--padding-2xs) var(--padding-5xl) var(--padding-3xs)
    var(--padding-8xl);
  gap: var(--gap-2xs);
  cursor: pointer;
}
.frameParent,
.frameWrapper1 {
  width: 192px;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
  text-align: center;
}
.frameParent {
  position: absolute;
  top: 4px;
  left: 13px;
  border-radius: 0 var(--br-3xs) 0 0;
  background: linear-gradient(
    180deg,
    #fff,
    #f3f3f7 66.67%,
    rgba(243, 243, 247, 0.88)
  );
  width: 1544px;
  flex-direction: column;
  padding: var(--padding-15xl) var(--padding-14xl) var(--padding-6xs);
  gap: var(--gap-16xl);
  max-width: 100%;
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
  font-family: var(--bold-16-24);
}
@media screen and (max-width: 1350px) {
  .rectangleGroup {
    display: none;
  }
  .frameWrapper {
    width: 0;
  }
}
@media screen and (max-width: 450px) {
  .browse {
    font-size: var(--bold-16-24-size);
    line-height: 21px;
  }
}
