.password {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  font-weight: 600;
  z-index: 1;
}
.ellipseDiv,
.inputFieldsSetChild,
.inputFieldsSetChild1,
.inputFieldsSetChild2,
.inputFieldsSetChild3,
.inputFieldsSetChild4,
.inputFieldsSetInner,
.inputFieldsSetItem {
  height: 8px;
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-dimgray);
}
.inputFieldsSet,
.inputFieldsSetWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputFieldsSet {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-11xs) 0;
  gap: var(--gap-9xs);
}
.inputFieldsSetWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 351px;
  max-width: 100%;
}
.eyeOff {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frameParent,
.passwordParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.frameParent {
  border-radius: var(--br-5xs);
  background-color: var(--light-mode-white-50);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-base) var(--padding-mini);
  z-index: 1;
}
.passwordParent {
  flex-direction: column;
  text-align: left;
  font-size: var(--bold-16-24-size);
  color: var(--color-dimgray);
  font-family: var(--bold-16-24);
}
@media screen and (max-width: 1900px) {
  .frameParent {
    overflow-x: auto;
  }
}
@media screen and (max-width: 1425px) {
  .frameParent {
    overflow-x: auto;
  }
}
@media screen and (max-width: 950px) {
  .ellipseDiv,
  .inputFieldsSetChild,
  .inputFieldsSetChild1,
  .inputFieldsSetChild2,
  .inputFieldsSetChild3,
  .inputFieldsSetChild4,
  .inputFieldsSetInner,
  .inputFieldsSetItem {
    width: 100%;
  }
  .inputFieldsSet {
    flex-wrap: wrap;
  }
  .frameParent {
    overflow-x: auto;
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    overflow-x: auto;
  }
}
