.heroiconsMinihome {
  width: 23px;
  height: 23px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.heroiconsMinihomeWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.home {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.frameParent,
.sideBarInner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  gap: var(--gap-4xs);
}
.sideBarInner {
  padding: 0 var(--padding-14xl);
  color: var(--color-dimgray);
}
.bookshelfIcon {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.bookshelfWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.dashboard {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.frameGroup,
.sideBarChild {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  flex: 1;
  gap: var(--gap-xs);
}
.sideBarChild {
  align-self: stretch;
  padding: 0 var(--padding-17xl);
}
.searchIcon {
  width: 23px;
  height: 23px;
  position: relative;
  z-index: 1;
}
.searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.search {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.frameDiv,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv {
  flex: 1;
  gap: var(--gap-2xs);
}
.frameWrapper {
  align-self: stretch;
  padding: 0 var(--padding-15xl) 0 var(--padding-15xl-5);
}
.hideBg,
.hideBgCopy,
.mask {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.mask {
  width: 100%;
  right: 0;
  left: 0;
  background-color: var(--light-mode-white-50);
  opacity: 0;
  mix-blend-mode: normal;
}
.hideBg,
.hideBgCopy {
  width: 80%;
  right: 10%;
  left: 10%;
  border-radius: var(--br-7xs);
  background-color: var(--color-royalblue);
}
.hideBgCopy {
  width: 3.75%;
  right: 98.33%;
  left: -2.08%;
  border-radius: var(--br-9xs);
}
.hideBgHideBgCopyMask {
  height: 50px;
  width: 240px;
  position: relative;
  display: none;
}
.h3,
.products1 {
  position: relative;
  display: inline-block;
}
.h3 {
  margin: 0;
  align-self: stretch;
  width: 18px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.products1 {
  letter-spacing: 0.3px;
  font-weight: 600;
  min-width: 73px;
}
.productsWrapper {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  text-align: left;
  font-size: var(--body-large-size);
  font-family: var(--font-nunito-sans);
}
.frameContainer,
.navigationSidebarItemLi,
.products,
.productsWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.products {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.frameContainer,
.navigationSidebarItemLi {
  flex: 1;
}
.navigationSidebarItemLi {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-25xl) var(--padding-2xs);
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--light-mode-white-50);
  font-family: var(--font-abhaya-libre);
}
.frameContainer {
  flex-direction: column;
  padding: 0 0 var(--padding-779xl);
  gap: var(--gap-15xl);
}
.about,
.frameContainer,
.support {
  align-self: stretch;
}
.about,
.support,
.termsCondition {
  position: relative;
}
.aboutParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mini);
}
.aboutParent,
.sideBar,
.sideBarInner1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sideBarInner1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-36xl) 0 var(--padding-32xl);
  font-size: var(--font-size-mini);
}
.sideBar {
  position: absolute;
  top: 8px;
  left: 7px;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  background-color: var(--light-mode-white-50);
  width: 244px;
  height: 1526px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-259xl) 0 var(--padding-83xl) var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-15xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  font-family: var(--bold-16-24);
}
@media screen and (max-width: 450px) {
  .dashboard,
  .home,
  .search {
    font-size: var(--bold-16-24-size);
  }
  .h3 {
    font-size: var(--font-size-lg);
  }
}
